:root{
    --primary-color:#38fcc1;
    --secondary-color:#2dbd92;
    --tertiary-color:#125d47;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  header{
    font-size: 30px;
    padding: 20px;
    background-color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
h1 {
    text-decoration: none;
    color: white;
}
.highscore:hover{
    color: var(--primary-color);
}

section {
    display: flex;
    justify-content: center;
}
.qwrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 5% 10%;
    width: 70%;
}
.qheader {
    padding: 10px 0px;
    font-size: 36px;
    flex: 1 100%
}
.qheader p {
    font-size: 24px;
    font-weight: normal;
}

footer{
    flex:1 100%;
}
.quiz-footer {
    color: black;
    font-style: italic;
    border-top: solid 2px var(--primary-color);
    flex: 1 100%;
    margin-top: 10px;
}
.button {
    background-color:indigo;
    color:white;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
    margin: 0 10px 10px 0;
    border: none;
    list-style-position: inside;
}
.sbutton{
    background-color:rgb(167, 8, 8);
    color:white;
    font-size: 24px;
    padding: 10px;
    border-radius: 15px;
    margin: 0 10px 10px 0;
    border: none;
}
.sbutton:hover{
    background-color: green;
}
.qcontent {
    justify-content: space-between;
}
.hs-table {
    flex: 2 50%;
    font-size: x-large;
}
.hs-entry {
    background-color: var(--secondary-color);
    flex:1 100%;
    padding: 5px;
    font-size: 24px;
    margin-bottom: 10px;
    border-radius: 15px;
    list-style-position: inside;
}
.button:hover {
    background-color: rgb(161, 87, 231);
}
